<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title page</title>
    <!-- {% load static %}
    <link rel="shortcut icon" href="{% static 'image/icons/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700%7CAkronim%7CFascinate+Inline%7CFaster+One%7CIM+Fell+DW+Pica%7CVast+Shadow%7CAudiowide%7CAclonica%7CCabin+Sketch:400,700%7CFredericka+the+Great%7CPress+Start+2P%7CVT323%7CMonoton%7CLuckiest+Guy%7CFredoka+One%7CMontserrat+Subrayada%7CDancing+Script%7CPermanent+Marker%7CSacramento%7CSatisfy%7CSpecial+Elite%7CVibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" type="text/css"> -->

    <link rel="shortcut icon" href="../static/image/icons/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700%7CAkronim%7CFascinate+Inline%7CFaster+One%7CIM+Fell+DW+Pica%7CVast+Shadow%7CAudiowide%7CAclonica%7CCabin+Sketch:400,700%7CFredericka+the+Great%7CPress+Start+2P%7CVT323%7CMonoton%7CLuckiest+Guy%7CFredoka+One%7CMontserrat+Subrayada%7CDancing+Script%7CPermanent+Marker%7CSacramento%7CSatisfy%7CSpecial+Elite%7CVibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.min.css" type="text/css">
    
<!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    {{> body}}
</body>
</html>
