<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title page</title>
    <!-- {% load static %}
    <link rel="shortcut icon" href="{% static 'image/icons/H.svg' %}" type="image/svg">
    <link rel="shortcut icon" href="{% static 'image/icons/H.png' %}" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700%7CAkronim%7CFascinate+Inline%7CFaster+One%7CIM+Fell+DW+Pica%7CVast+Shadow%7CAudiowide%7CAclonica%7CCabin+Sketch:400,700%7CFredericka+the+Great%7CPress+Start+2P%7CVT323%7CMonoton%7CLuckiest+Guy%7CFredoka+One%7CMontserrat+Subrayada%7CDancing+Script%7CPermanent+Marker%7CSacramento%7CSatisfy%7CSpecial+Elite%7CVibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}" type="text/css">
    <link rel="stylesheet" href="../static/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/lib/animate.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> -->

    <link rel="shortcut icon" href="../static/image/icons/H.svg" type="image/svg">
    <link rel="shortcut icon" href="../static/image/icons/H.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700%7CAkronim%7CFascinate+Inline%7CFaster+One%7CIM+Fell+DW+Pica%7CVast+Shadow%7CAudiowide%7CAclonica%7CCabin+Sketch:400,700%7CFredericka+the+Great%7CPress+Start+2P%7CVT323%7CMonoton%7CLuckiest+Guy%7CFredoka+One%7CMontserrat+Subrayada%7CDancing+Script%7CPermanent+Marker%7CSacramento%7CSatisfy%7CSpecial+Elite%7CVibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.min.css" type="text/css">
    <link rel="stylesheet" href="../static/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/css/lib/animate.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<!-- Preload -->
    <div class="window-load">
        <img src="../static/image/icons/duration.svg" alt="">
    </div>
<!-- Preload -->
<!-- Navbar -->
    <nav class="menu-nav">
        <div class="pulse"> <!-- hamburger -->
            <input type="checkbox" id="switch">
            <div class="phone"><i class="fas fa-book-open phn"></i></div> <!-- open -->
            <div class="text"></div> <!-- close -->
            <label for="switch" id="switchBtn">
                <!-- <img src="../static/image/icons/corporal.svg" alt=""> -->
            </label>
        </div>
    </nav>
<!-- Navbar -->
<!-- Title -->
    <div class="title">
    <!-- Title text -->
        <ul class="title-text wow bounceInLeft" data-wow-delay="1s" data-wow-duration="2s">
            <li><span data-content="w">w</span></li>
            <li><span data-content="3">3</span></li>
            <li><span data-content="l">l</span></li>
            <li><span data-content="a">a</span></li>
            <li><span data-content="n">n</span></li>
            <li><span data-content="s">s</span></li>
            <li><span data-content="e">e</span></li>
            <li><span data-content="r">r</span></li>
        </ul>
    <!-- Title text -->
    <!-- Particles -->
        <div id="particles"></div>
    <!-- Particles -->
    <!-- Cube -->
        <!-- <div class="cube-wrapper">
            <div class="cube">
                <div class="side top">top</div>
                <div class="side right">right</div>
                <div class="side bottom">bottom</div>
                <div class="side left">left</div>
                <div class="side front">front</div>
                <div class="side back">back</div>
            </div>
        </div> -->
    <!-- Cube -->
    <!-- Button -->
        <Button class="open-btn">
            <img src="../static/image/icons/door-handle.svg" alt="">
        </Button>
    </div>
<!-- Title -->
<!-- Presentation -->
    <main class="about">
    <!-- Hidden title -->
        <h2>about</h2>
    <!-- Hidden title -->
    <!-- Canvas -->
        <div class="about-cvs">
            <div class="cvs-wrapper">
                <div class="cvs-container">
                    <p data-type="fnd">frontend</p>
                    <p data-type="html">html</p>
                    <p data-type="css">css</p>
                    <p data-type="js">java-script</p>
                    <p data-type="jq">jquery</p>
                    <p data-type="sass">sass</p>
                    <p data-type="bts">bootstrap</p>
                    <p data-type="fdt">foundation</p>
                    <p data-type="svg">svg</p>
                    <p data-type="cvs">canvas</p>
                    <p data-type="and">and</p>
                    <p data-type="anm">animation</p>
                </div>
            </div>
        </div>
    <!-- Canvas -->
    <!-- Text presentation -->
        <section class="about-txt">
            <h6>about</h6>
            <article>
                <h3>привет</h3>
            </article>
            <p>web-development</p>
            <p>front-end</p>
            <p>java-script</p>
            <p>html</p>
            <p>bootstrap</p>
            <p>css</p>
            <p>sass</p>
            <p>jquery</p>
            <p>back-end</p>
            <p>python</p>
            <p>django</p>
            <p>nodejs</p>
            <p>sql</p>
            <p>svg</p>
            <p>git</p>
            <p>canvas</p>
        </section>
    <!-- Text presentation -->
    </main>
<!-- Presentation -->
<!-- Sidebar -->
    <!-- <aside class="help-nav">
        <ul>
            <li class="page"><span>Home</span></li>
            <li class="page"><span>Projects</span></li>
        </ul>
    </aside> -->
<!-- Sidebar -->
<!-- Templates -->
    <section class="templates">
        <h6>Projects</h6>
        <article class="landings landing-1">
            <h6>Landing</h6>
            <div>
                <div class="backface">
                    <h3>landing_1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga nobis odit laudantium labore fugit aperiam est aliquid doloribus libero numquam soluta quod eaque tempore consectetur, placeat, odio voluptatem ducimus pariatur?</p>
                </div>
                <a href="landing1" title="landing1" target="blank">
                    <img src="../static/image/index/landing-template1.png" alt="">
                </a>
            </div>
        </article>

        <article class="landings landing">
            <h6>Landing</h6>
            <div>
                <div class="backface">
                    <h3>landing</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus doloremque explicabo deleniti. Vel, aut. Sit, illo porro. Velit dolorum vel repudiandae! Distinctio quis id minus accusantium eligendi magni aperiam amet?
                    </p>
                </div>
                <a href="landing" title="landing" target="blank">
                    <img src="../static/image/index/landing-template.png" alt="">
                </a>
            </div>
        </article>

    </section>
<!-- Templates -->
<!-- EnableJS -->
    <noscript>
        <p>Please enter java-script</p>
    </noscript>
<!-- EnableJS -->
<!-- Scripts -->
    <!-- <script src="{% static 'js/loading.js' %}" defer></script>
    <script src="{% static 'js/navigation.js'%}" defer></script>
    <script src="{% static 'js/lib/jquery.min.js' %}" defer></script>
    <script src="{% static 'js/lib/particles.min.js' %}" defer></script>
    <script src="{% static 'js/particles.js' %}" defer></script>
    <script src="{% static 'js/lib/scene.js' %}" defer></script>
    <script src="{% static 'js/lib/effects.js' %}" defer></script>
    <script src="{% static 'js/moveText.js' %}" defer></script>
    <script src="{% static 'js/lib/wow.min.js' %}" defer></script>
    <script src="{% static 'js/wowInit.js' %}" defer></script> -->

    <script src="../static/js/loading.js" defer></script>
    <script src="../static/js/navigation.js" defer></script>
    <script src="../static/js/lib/jquery.min.js" defer></script>
    <script src="../static/js/lib/particles.min.js" defer></script>
    <script src="../static/js/particles.js" defer></script>
    <script src="../static/js/lib/scene.js" defer></script>
    <script src="../static/js/lib/effects.js" defer></script>
    <script src="../static/js/moveText.js" defer></script>
    <script src="../static/js/lib/wow.min.js" defer></script>
    <script src="../static/js/wowInit.js" defer></script>
<!-- Scripts -->
</body>
</html>
