<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#c0301c">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Startup</title>
    <link rel="shortcut icon" href="../static/image/landings/landing/role.png">
    <link rel="stylesheet" href="../static/lib/slick/slick.css">
    <link rel="stylesheet" href="../static/lib/slick/slick-theme.css">
    <link rel="stylesheet" href="../static/css/landings/landing/startup.css">
<!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Home button -->
    <div class="home-button">
        <a href="#" class="link-up">up</a>
    </div>
    <!-- / Home button -->
    <!-- Header -->
    <div class="header outer">
        <a id="home"></a>
        <!-- Menu -->
        <div class="menu">
            <div class="menu-logo">Startup</div>
            <a href="#" class="menu-button">
                <span class="line"></span>
            </a>
            <ul class="menu-links">
                <li class="link-wrap"><a href="#home" onclick="hiddenMenu()" class="link">Home<span class="bottom-line"></span></a></li>
                <li class="link-wrap"><a href="#services" onclick="hiddenMenu()" class="link">Services<span class="bottom-line"></span></a></li>
                <li class="link-wrap"><a href="#about" onclick="hiddenMenu()" class="link">About<span class="bottom-line"></span></a></li>
                <li class="link-wrap"><a href="#works" onclick="hiddenMenu()" class="link">Works<span class="bottom-line"></span></a></li>
                <li class="link-wrap"><a href="#blog" onclick="hiddenMenu()" class="link">Blog<span class="bottom-line"></span></a></li>
                <li class="link-wrap"><a href="#clients" onclick="hiddenMenu()" class="link">Clients<span class="bottom-line"></span></a></li>
                <li class="link-wrap"><a href="#contact" onclick="hiddenMenu()" class="link">Contact<span class="bottom-line"></span></a></li>
            </ul>
        </div>
        <!-- / Menu -->
        <!-- Title -->
        <div class="title">
            <div class="title-title">welcome to startup</div>
            <div class="title-subtitle">Your Favorite Creative Agency Template</div>
            <a href="#contact" class="title-button">Get started</a>
        </div>
        <!-- / Title -->
    </div>
    <!-- / Header -->
    <!-- Services -->
    <div class="services outer">
        <a id="services"></a>
        <!-- Title -->
        <div class="ttl">
            <div class="ttl-title">services</div>
            <div class="ttl-line"></div>
            <div class="ttl-subtitle">We offer ipsum dolor sit amet, consetetur sadipscing elitr amet</div>
        </div>
        <!-- / Title -->
        <!-- Content -->
        <div class="contents">
            <!-- Block one -->
            <div class="content">
                <div class="content-icon active-icon">
                    <img src="../static/image/landings/landing/a.png" alt="letterA">
                </div>
                <div class="content-title">clean typography</div>
                <div class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.</div>
            </div>
            <!-- / Block one -->
            <!-- Block two -->
            <div class="content">
                <div class="content-icon">
                    <img src="../static/image/landings/landing/teg.png" alt="teg">
                </div>
                <div class="content-title">rock solid code</div>
                <div class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.</div>
            </div>
            <!-- / Block two -->
            <!-- Block three -->
            <div class="content">
                <div class="content-icon">
                    <img src="../static/image/landings/landing/role.png" alt="role">
                </div>
                <div class="content-title">expert support</div>
                <div class="content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.</div>
            </div>
            <!-- / Block three -->
        </div>
        <!-- / Content -->
    </div>
    <!-- / Services -->
    <!-- About us -->
    <div class="about outer">
        <a id="about"></a>
        <!-- Title -->
        <div class="ttl">
            <div class="ttl-title">about us</div>
            <div class="ttl-line"></div>
            <div class="ttl-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet</div>
        </div>
        <!-- / Title -->
        <!-- Description -->
        <div class="text">
            <div class="content-description abt-cnt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.</div>
            <div class="content-description abt-cnt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirtempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos eaccusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Loreipsum dolor sit amet. Lorem ipsum dolor et.</div>
        </div>
        <!-- / Description -->
        <!-- Scroll -->
        <div class="photos">
            <div class="personal-block">
                <div class="img-wrap">
                    <img src="../static/image/landings/landing/face1.png" alt="img" class="personal-img">
                    <div class="media">
                        <a href="http://facebook.com" target="_blank" class="media-link"><i class="fab fa-facebook-f"></i></a>
                        <a href="http://twitter.com" target="_blank" class="media-link"><i class="fab fa-twitter"></i></a>
                        <a href="http://telegram.org" target="_blank" class="media-link"><i class="fab fa-telegram-plane"></i></a>
                        <a href="http://linkedin.com" target="_blank" class="media-link"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="personal-name">md.khalil uddin</div>
                <div class="personal-posit">Head of Ideas</div>
            </div>
            <div class="personal-block">
                <div class="img-wrap">
                    <img src="../static/image/landings/landing/face2.png" alt="img" class="personal-img">
                    <div class="media">
                        <a href="http://facebook.com" target="_blank" class="media-link"><i class="fab fa-facebook-f"></i></a>
                        <a href="http://twitter.com" target="_blank" class="media-link"><i class="fab fa-twitter"></i></a>
                        <a href="http://telegram.org" target="_blank" class="media-link"><i class="fab fa-telegram-plane"></i></a>
                        <a href="http://linkedin.com" target="_blank" class="media-link"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="personal-name">rubel miah</div>
                <div class="personal-posit">Lead Word Press Developer</div>
            </div>
            <div class="personal-block">
                <div class="img-wrap">
                    <img src="../static/image/landings/landing/face3.png" alt="img" class="personal-img">
                    <div class="media">
                        <a href="http://facebook.com" target="_blank" class="media-link"><i class="fab fa-facebook-f"></i></a>
                        <a href="http://twitter.com" target="_blank" class="media-link"><i class="fab fa-twitter"></i></a>
                        <a href="http://telegram.org" target="_blank" class="media-link"><i class="fab fa-telegram-plane"></i></a>
                        <a href="http://linkedin.com" target="_blank" class="media-link"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="personal-name">shamim mia</div>
                <div class="personal-posit">Sr. Web Developer</div>
            </div>
            <div class="personal-block">
                <div class="img-wrap">
                    <img src="../static/image/landings/landing/face4.png" alt="img" class="personal-img">
                    <div class="media">
                        <a href="http://facebook.com" target="_blank" class="media-link"><i class="fab fa-facebook-f"></i></a>
                        <a href="http://twitter.com" target="_blank" class="media-link"><i class="fab fa-twitter"></i></a>
                        <a href="http://telegram.org" target="_blank" class="media-link"><i class="fab fa-telegram-plane"></i></a>
                        <a href="http://linkedin.com" target="_blank" class="media-link"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="personal-name">john doe</div>
                <div class="personal-posit">Front-end Developer</div>
            </div>
            <div class="personal-block">
                <div class="img-wrap">
                    <img src="../static/image/landings/landing/face5.jpeg" alt="img" class="personal-img">
                    <div class="media">
                        <a href="http://facebook.com" target="_blank" class="media-link"><i class="fab fa-facebook-f"></i></a>
                        <a href="http://twitter.com" target="_blank" class="media-link"><i class="fab fa-twitter"></i></a>
                        <a href="http://telegram.org" target="_blank" class="media-link"><i class="fab fa-telegram-plane"></i></a>
                        <a href="http://linkedin.com" target="_blank" class="media-link"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="personal--name">merlin manco</div>
                <div class="personal-posit">Back-end Developer</div>
            </div>
        </div>
        <!-- / Scroll -->
    </div>
    <!-- / About us -->
    <!-- Works -->
    <div class="works outer">
        <a id="works"></a>
        <!-- Switch images -->
        <input type="radio" checked name="switch" id="switch1" class="switch">
        <input type="radio" name="switch" id="switch2" class="switch">
        <input type="radio" name="switch" id="switch3" class="switch">
        <input type="radio" name="switch" id="switch4" class="switch">
        <!-- / Switch images -->
        <!-- Title -->
        <div class="ttl">
            <div class="ttl-title">latest works</div>
            <div class="ttl-line"></div>
            <ul class="ttl-subtitle ttl-list">
                <li class="works-link active-link"><label for="switch1">All</label></li>
                <li class="works-link"><label for="switch2">Branding</label></li>
                <li class="works-link"><label for="switch3">Design</label></li>
                <li class="works-link"><label for="switch4">Development</label></li>
                <li class="works-link"><a href="#work-table">Strategy</a></li>
            </ul>
        </div>
        <!-- / Title -->
        <!-- Images -->
        <div class="all">
            <div id="branding" class="work-row">
                <div class="work-wrap">
                    <img src="../static/image/landings/landing/branding1.png" alt="img" id="br1" class="work-img">
                    <div class="work-view">
                        <div class="img-name">Hair Dresser</div>
                        <div class="row-name">branding</div>
                        <a href="#" class="work-button">view <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="work-wrap">
                    <img src="../static/image/landings/landing/branding2.png" alt="img" id="br2" class="work-img">
                    <div class="work-view">
                        <div class="img-name">Pigeon Post</div>
                        <div class="row-name">branding</div>
                        <a href="#" class="work-button">view <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="work-wrap">
                    <img src="../static/image/landings/landing/branding3.png" alt="img" id="br3" class="work-img">
                    <div class="work-view">
                        <div class="img-name">Office Equipment</div>
                        <div class="row-name">branding</div>
                        <a href="#" class="work-button">view <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div id="design" class="work-row">
                <div class="work-wrap">
                    <img src="../static/image/landings/landing/design1.png" alt="img" id="ds1" class="work-img">
                    <div class="work-view">
                        <div class="img-name">Free Camera</div>
                        <div class="row-name">design</div>
                        <a href="#" class="work-button">view <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="work-wrap">
                    <img src="../static/image/landings/landing/design2.png" alt="img" id="ds2" class="work-img">
                    <div class="work-view">
                        <div class="img-name">Bicycle Vector</div>
                        <div class="row-name">design</div>
                        <a href="#" class="work-button">view <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="work-wrap">
                    <img src="../static/image/landings/landing/design3.png" alt="img" id="ds3" class="work-img">
                    <div class="work-view">
                        <div class="img-name">Art Idea</div>
                        <div class="row-name">design</div>
                        <a href="#" class="work-button">view <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div id="development" class="work-row">
                <div class="work-wrap">
                    <img src="../static/image/landings/landing/develop1.png" alt="img" id="dv1" class="work-img">
                    <div class="work-view">
                        <div class="img-name">Software</div>
                        <div class="row-name">develop</div>
                        <a href="#" class="work-button">view <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="work-wrap">
                    <img src="../static/image/landings/landing/develop2.png" alt="img" id="dv2" class="work-img">
                    <div class="work-view">
                        <div class="img-name">scheme</div>
                        <div class="row-name">develop</div>
                        <a href="#" class="work-button">view <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="work-wrap">
                    <img src="../static/image/landings/landing/develop3.png" alt="img" id="dv3" class="work-img">
                    <div class="work-view">
                        <div class="img-name">icons</div>
                        <div class="row-name">develop</div>
                        <a href="#" class="work-button">view <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Images -->
    </div>
    <!-- WorkTable -->
    <a id="work-table"></a>
    <div class="work-table">
        <img src="../static/image/landings/landing/work.png" alt="img">
        <div class="work-title">Do you like <span>out work</span> so far?</div>
        <div class="work-title">Let's talk about <span>your project!</span></div>
        <a href="#contact" class="title-button work-btn">get in touch</a>
    </div>
    <!-- / WorkTable -->
    <!-- / Works -->
    <!-- Blog -->
    <div class="blog outer">
        <a id="blog"></a>
        <!-- Title -->
        <div class="ttl">
            <div class="ttl-title">recent blog posts</div>
            <div class="ttl-line"></div>
            <div class="ttl-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet</div>
        </div>
        <!-- / Title -->
        <!-- Content -->
        <div class="blog-content">
            <img src="../static/image/landings/landing/blogTable.png" alt="img">
            <div class="blg-content-description">
                <div class="blog-content-title">
                    <div class="blg-content-date"><div class="num">18</div><div class="month">oct</div></div>
                    <div class="blg-content-title">
                        <div class="blg-content-ttl">startup ideas needs to be funded</div>
                        <div class="blg-content-subtitle">By Khalil Uddin in Development</div>
                    </div>
                </div>
                <div class="blg-content-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirtempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos eaccusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Loreipsum dolor sit amet. Lorem ipsum dolor et.</div>
                <a href="#" class="blg-link">read more</a>
            </div>
        </div>
        <div class="blog-line"></div>
        <div class="blog-content">
            <img src="../static/image/landings/landing/develop2.png" alt="img">
            <div class="blg-content-description">
                <div class="blog-content-title">
                    <div class="blg-content-date"><div class="num">18</div><div class="month">oct</div></div>
                    <div class="blg-content-title">
                        <div class="blg-content-ttl">user interface designing elements</div>
                        <div class="blg-content-subtitle">By Khalil Uddin in Development</div>
                    </div>
                </div>
                <div class="blg-content-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirtempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos eaccusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Loreipsum dolor sit amet. Lorem ipsum dolor et.</div>
                <a href="#" class="blg-link">read more</a>
            </div>
        </div>
        <!-- / Content -->
    </div>
    <!-- / Blog -->
    <!-- Clients -->
    <a id="clients"></a>
    <div class="clients outer">
        <div class="cls-carousel">
            <div class="cls-block">
                <ul class="company">
                    <li><div>deorham</div><div>networks</div></li>
                    <li>Ratings</li>
                    <li><strong>malik</strong> media</li>
                    <li>Bcause.</li>
                    <li>womfily</li>
                </ul>
                <div class="clients-text"><q>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</q></div>
                <div class="author-txt">John Doe, Doodle Inc</div>
            </div>
            <div class="cls-block">
                <ul class="company">
                    <li><div>deorham</div><div>networks</div></li>
                    <li>ratings</li>
                    <li><strong>malik</strong> media</li>
                    <li>Bcause.</li>
                    <li>womfily</li>
                </ul>
                <div class="clients-text"><q>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</q></div>
                <div class="author-txt">John Doe, Doodle Inc</div>
            </div>
        </div>
    </div>
    <!-- / Clients -->
    <!-- Contact -->
    <div class="contact outer">
        <a id="contact"></a>
        <!-- Title -->
        <div class="ttl">
            <div class="ttl-title">get in touch</div>
            <div class="ttl-line"></div>
            <div class="ttl-subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet</div>
        </div>
        <!-- / Title -->
        <!-- Contact block -->
        <div class="contact-block">
            <!-- Address -->
            <div class="address-block">
                <div class="address-item">
                    <div class="address-icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="address-content">
                        <div class="address-title">address</div>
                        <div class="address-description"><address>312, 7th Ave, New York<br/><span>ny 101200</span> United States of America</address></div>
                    </div>
                </div>
                <div class="address-item">
                    <div class="address-icon"><i class="fas fa-mobile-alt"></i></div>
                    <div class="address-content">
                        <div class="address-title">hotline (24x7)</div>
                        <div class="address-description">+65 0052 300 +65 88251 210<br/>+88 34534 459</div>
                    </div>
                </div>
                <div class="address-item">
                    <div class="address-icon"><i class="far fa-envelope"></i></div>
                    <div class="address-content">
                        <div class="address-title">e-mail</div>
                        <div class="address-description">shapedtheme@gmail.com<br/>khalilcode@gmail.com</div>
                    </div>
                </div>
            </div>
            <!-- / Address -->
            <!-- Contact form -->
            <div class="form-block">
                <form action="#0" method="">
                    <div class="frm-group">
                        <div>
                            <input required type="text" name="name" id="name" placeholder=" ">
                            <label for="name">your name</label>
                        </div>
                        <div>
                            <input required type="email" name="e-mail" id="e-mail" placeholder=" ">
                            <label for="e-mail">your e-mail</label>
                        </div>
                    </div>
                    <div class="frm-group">
                        <div>
                            <input required type="text" name="subject" id="subject" placeholder=" ">
                            <label for="subject">your subject</label>
                        </div>
                        <div>
                            <input required type="text" name="company" id="company" placeholder=" ">
                            <label for="company">company name</label>
                        </div>
                    </div>
                    <div class="frm-group frm-message">
                        <div>
                            <input required type="text" name="message" id="message" placeholder=" ">
                            <label for="message">write your message</label>
                        </div>
                    </div>
                    <div class="frm-submit">
                        <input type="submit" value="SEND MESSAGE">
                    </div>
                </form>
            </div>
            <!-- / Contact form -->
        </div>
        <!-- / Contact block -->
    </div>
    <!-- / Contact -->
    <!-- Footer -->
    <div class="footer">
        <ul class="footer-media">
            <li><a href="http://facebook.com" target="blink"><i class="fab fa-facebook"></i></a></li>
            <li><a href="http://linkedin.com" target="blink"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="http://twitter.com" target="blink"><i class="fab fa-twitter"></i></a></li>
            <li><a href="http://reddit.com" target="blink"><i class="fab fa-reddit"></i></a></li>
        </ul>
        <div class="footer-line"></div>
        <div class="footer-copyright">&copy;2015 startup, designed by shapedtheme</div>
    </div>
    <!-- / Footer -->
    <!-- Scripts -->
    <script src="../static/js/jquery.min.js" defer></script>
    <script src="../static/lib/slick/slick.min.js" defer></script>
    <script src="../static/js/landings/landing/startup.js" defer></script>
    <!-- / Scripts -->
</body>
</html>