<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/landings/landing1/studiosites.css">
    <link rel="shortcut icon" href="../static/image/landings/landing1/favicon.png" type="image/png">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
  <!-- ================================================================== Header/ -->
  <header>
    <a id="main"></a>
    <!-- Title text/ -->
    <h1 class="wow fadeInDown" data-wow-duration="3s">наши сайты заставляют работать<br/>ваш бизнес</h1>
    <!-- /Title text -->
    <!-- Subtile text/ -->
    <p class="wow fadeInDown" data-wow-duration="3s">Большинство веб-студий считают окончанием работы, загрузку
      сайта в интернет. Но почти никто не умеет делать проэкты,
      которые работают и приносят прибыль.
    </p>
    <!-- /Subtile text -->
    <!-- Statistics/ -->
    <div>
      <!-- service statistics/ -->
      <div class="wow bounceInLeft" data-wow-duration="3s">
        <div><i class="far fa-star"></i></div>
        <p>518</p>
        <p>оказанных услуг</p>
        <span></span>
      </div>
      <!-- /Service statistics -->
      <!-- Projects statistics/ -->
      <div class="wow bounceInUp" data-wow-duration="3s">
        <div><i class="fas fa-clipboard-check"></i></div>
        <p>345</p>
        <p>проэктов</p>
        <span></span>
      </div>
      <!-- /Projects statistics -->
      <!-- Clients statistics/ -->
      <div class="wow bounceInRight" data-wow-duration="3s">
        <div><i class="far fa-gem"></i></div>
        <p>218</p>
        <p>постоянных клиентов</p>
        <span></span>
      </div>
      <!-- /Clients statistics -->
    </div>
    <!-- /Statistics -->
  </header>
  <!-- ================================================================== /Header -->
  <!-- ================================================================== Main/ -->
  <main>
    <!-- Navbar/ -->
    <input type="checkbox" id="nav-menu">
    <nav>
      <div></div>
      <ul>
        <li class="move-link"><a href="#">Главная</a></li>
        <li class="move-link"><a href="#about">О нас</a></li>
        <li class="move-link"><a href="#service">Услуги</a></li>
        <li class="move-link"><a href="#project">Наши работы</a></li>
        <li class="move-link"><a href="#contact">Контакты</a></li>
      </ul>
      <label for="nav-menu">
        <span></span>
      </label>
    </nav>
    <!-- /Navbar -->
    <!-- About us/ -->
    <section class="about-us">
      <h6>о нас</h6>
      <a id="about"></a>
      <article>
        <h2 class="wow bounceInLeft">Студия</h2>
        <p class="wow zoomIn">
          Основная специализация - проэктирование 
          <strong>сайтов</strong> и <strong>landing page</strong>.
          Наша команда, состоящая из дизайнеров маркетологов и программистов,
          поддерживает каждый проэкт на протяжении всей его жизни. Студия 
          занимается разработкой индивидуального дизайна, оптимизацией 
          скорости работы продукта, предостовляет услуги по продвижению сайтов.
        </p>
      </article>
      <div>
        <article class="wow zoomIn">
          <i class="fas fa-rocket"></i>
          <h3>Старт</h3>
          <p>
            Вы хотите получать больше клиентов 
            и прибыли из интернета?С нуля разработаем 
            сайт любой сложности,учитывая индивидуальные
            особенности вашего бизнеса. Стоимость создания 
            сайта в каждом конкретном случае индивидуальна 
            и рассчитывается исходя из пожеланий и 
            требований клиента.
          </p>
          <div>
            <div>От 3000 руб</div>
            <a href="#"><i class="fas fa-arrow-right"></i></a>
          </div>
        </article>
        <article class="wow zoomIn" data-wow-delay=".3s">
          <i class="fas fa-mobile-alt"></i>
          <h3>Продвижение</h3>
          <p>
            Одним из важнейших этапов продвижения 
            сайта является поисковая оптимизация <strong>SEO</strong>, 
            которая представляет собой комплекс мер по 
            повышению позиции сайта в поисковых 
            системах, и, таким образом, позволяет 
            увеличить его целевую посещаемость.
          </p>
          <div>
            <div>От 2000 руб</div>
            <a href="#"><i class="fas fa-arrow-right"></i></a>
          </div>
        </article>
        <article class="wow zoomIn" data-wow-delay=".5s">
          <i class="fas fa-heartbeat"></i>
          <h3>Поддержка</h3>
          <p>
            У Вас уже работающий бизнес и Вы 
            регулярно нуждаетесь в услугах веб-студии
            но брать сотрудника в штат и оборудовать 
            дополнительное рабочее место не выгодно? 
            Мы готовы взять эти проблемы на себя и 
            предоставлять нужные услуги  удаленно.
          </p>
          <div>
            <div>От 1000 руб</div>
            <a href="#"><i class="fas fa-arrow-right"></i></a>
          </div>
        </article>
      </div>
    </section>
    <!-- /About us -->
    <!-- Service/ -->
    <section class="service">
      <h6>услуги</h6>
      <a id="service"></a>
      <!-- Title and subtitle/ -->
      <article>
        <h2 class="wow bounceInLeft">кредо нашей компании</h2>
        <p class="wow bounceInRight">
          Мы хотим, чтобы Ваш бизнес был еще успешней и прибыльней. В нашем понимании 
          качественный продукт — это достижение гармонии между эстетикой и 
          маркетинговыми целями. Высокий уровень контроля качества, опыт 
          работы и креативный подход к решению задач — залог 
          нашего успеха.
        </p>
      </article>
      <!-- /Title and subtitle -->
      <!-- Orange block dev/ -->
      <div class="dev wow rubberBand">
        <h3 class="wow tada">Разработка</h3>
        <img src="../static/image/landings/landing1/mechanism.png" alt="">
        <img src="../static/image/landings/landing1/mechanism1.png" alt="">
      </div>
      <!-- /Orange block dev -->
      <!-- Links service/ -->
      <div class="links">
        <div class="wow bounceInRight">
          <div>landing page</div>
          <hr/>
          <div>
            <p>от 15000 руб</p>
            <a href="#"><i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="wow bounceInRight" data-wow-delay=".1s">
          <div>веб-сайт</div>
          <hr/>
          <div>
            <p>от 10000 руб</p>
            <a href="#"><i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="wow bounceInRight" data-wow-delay=".2s">
          <div>интернет магазин</div>
          <hr/>
          <div>
            <p>от 20000 руб</p>
            <a href="#"><i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /Links service -->
      <!-- Seo block/ -->
      <div>
        <article>
          <h2 class="wow rollIn">первые в поиске</h2>
          <p class="wow rotateInUpRight">
            Мы предлагаем услуги по <strong>seo</strong> продвижению 
            сайтов в ведущих поисковых системах Yandex 
            и Google. Поисковое продвижение сайта в 
            нашей веб-студии — это гарантированное 
            присутствие на лидирующих позициях и 
            привлечение необходимой аудитории.
          </p>
        </article>
        <div>
          <img src="../static/image/landings/landing1/google.png" alt="" class="wow flipInY">
          <img src="../static/image/landings/landing1/yandex.png" alt="" class="wow flipInX">
        </div>
      </div>
      <!-- /Seo block -->
    </section>
    <!-- /Service -->
    <!-- Project/ -->
    <section class="project">
      <h6>project</h6>
      <a id="project"></a>
      <!-- Last projects/ -->
      <article class="last-projects">
        <h2>последние проэкты</h2>
        <div>
          <img src="../static/image/landings/landing1/project.png" alt="" class="wow shake" data-wow-delay=".5s">
          <img src="../static/image/landings/landing1/project1.png" alt="" class="wow shake">
        </div>
        <div>
          <img src="../static/image/landings/landing1/project2.png" alt="" class="wow shake" data-wow-delay="6s">
          <div class="wow shake" data-wow-delay="1s">
            <h2>ркб</h2>
            <h3>автосервис</h3>
          </div>
          <img src="../static/image/landings/landing1/project4.png" alt="" class="wow shake" data-wow-delay="5s">
          <img src="../static/image/landings/landing1/project5.png" alt="" class="wow shake" data-wow-delay="3s">
        </div>
        <button>еще больше</button>
      </article>
      <!-- /Last projects -->
      <!-- Adaptivity/ -->
      <div class="adaptivity">
        <article>
          <h2 class="wow rollIn">адаптивность</h2>
          <p class="wow rotateInUpRight">
            Зачем ограничивать свой бизнес только 
            пользователями стандартных компьютеров 
            и ноутбуков? Ведь сегодня все чаще люди 
            заходят в интернет с мобильных гаджетов. 
            Дайте им возможность купить именно у вас, 
            обеспечив своему сайту правильное 
            отображение на любом виде устройства.
          </p>
        </article>
        <div class="wow bounceInRight" data-wow-delay="1s">
          <img src="../static/image/landings/landing1/gadgets.png" alt="">
        </div>
      </div>
      <!-- /Adaptivity -->
      <!-- Trade in/ -->
      <article class="trade-in">
        <h2 class="wow fadeInDown">trade-in</h2>
        <div>
          <div>
            <div class="wow jello" data-wow-delay=".8s">
              <img src="../static/image/landings/landing1/devices.png" alt="">
              <h3>программа</h3>
            </div>
            <p>
              Если Вы решили обновить свой сайт или 
              интернет-магазин, то программа трейд-ин 
              именно то, что Вам нужно.Благодаря 
              данной программе, Вы сможете приобрести 
              новый сайт с минимальными вложениями, 
              при этом утилизировав старый. Вам лишь 
              нужно связаться с нашим отделом трейд-ин 
              по телефону 6 (234) 391 6084, отправить 
              письмо на адрес <a href="#">www@stalker.org</a>, либо 
              разместить заявку на сайте.
            </p>
          </div>
          <div>
            <div class="wow jello" data-wow-delay=".1s">
              <img src="../static/image/landings/landing1/loupe.png" alt="">
              <h3>процесс работы</h3>
            </div>
            <p>
              Мы делаем предварительную оценку, 
              параллельно, с Вами согласовываем 
              веб интерфейс и систему управления, 
              и если Вас все устраивает, заключаем 
              договор. При этом Вам не придется 
              останавливать работу в интернете, так 
              как передача Вашего сайта осуществляется 
              только после разработки нового. Тем самым 
              Вы экономите не только время, но и деньги.
            </p>
          </div>
          <div>
            <div class="wow jello" data-wow-delay=".5s">
              <img src="../static/image/landings/landing1/diamond.png" alt="">
              <h3>условия</h3>
            </div>
            <p>
              Вам нужно предоставить максимум информации 
              о предоставляемом интернет-проекте, которое 
              Вы хотите обновить.Данная информация 
              поможет нам в кратчайшие сроки рассмотреть 
              Ваш запрос и дать положительный ответ. Для 
              этого, убедительно просим Вас, присылать 
              информацию на Вашем фирменном бланке с 
              печатью, а так же фотографии домена и 
              хостинга.
            </p>
          </div>
        </div>
        <button>оценить мой сайт</button>
      </article>
      <!-- /Trade in -->
      <!-- Care for everyone/ -->
      <div class="care">
        <article>
          <h3 class="wow rollIn">забота о каждом</h3>
          <p class="wow rotateInUpRight">
            Рожденный в нашей студии проект обречен
            на пожизненную поддержку. Мы обучим вас
            ведению сайта, обновим контент и настроим
            продвижение в любой момент. Каждая деталь
            вашего бизнеса является состовляющим звеном
            нашей студии. И мы позаботимся о вас.
          </p>
        </article>
        <div class="wow bounceInRight" data-wow-delay="1s">
          <img src="../static/image/landings/landing1/care1.png" alt="">
        </div>
      </div>
      <!-- /Care for everyone -->
    </section>
    <!-- /Project -->
    <!-- Contact/ -->
    <section class="contact">
      <h6>contact</h6>
      <a id="contact"></a>
      <!-- Contact deskription/ -->
      <article>
        <h2 class="wow zoomInUp">свяжитесь с нами</h2>
        <p class="wow zoomInUp">
          Готовы начать работу? Отправьте
          сообщение и свои контакты, мы
          ответим вам в течении 2-ух дней.
          Схема работы с каждым клиентом
          будет разработана индивидуально 
          в зависимости от поставленных задач.
        </p>
      </article>
      <!-- /Contact deskription -->
      <!-- Contact form/ -->
      <form action="#" method="POST" class="wow jackInTheBox">
        <div>
          <div>
            <input type="text" id="first-name" placeholder="Ваше имя">
          </div>
          <div>
            <input type="text" id="last-name" placeholder="Ваша фамилия">
          </div>
        </div>
        <div>
          <input type="email" id="us_email" placeholder="E-mail">
        </div>
        <textarea name="us_message" id="message_form" cols="30" rows="10" placeholder="Введите ваше сообщение"></textarea>
        <div>
          <p class="wow bounceInLeft" data-wow-delay="1s">
            Наши специалисты свяжутся с вами как можно скорее
          </p>
          <button type="submit" class="wow bounceInLeft" data-wow-delay="1.3s">отправить</button>
        </div>
      </form>
      <!-- /Contact form -->
    </section>
    <!-- /Contact -->
  </main>
  <!-- ================================================================== /Main -->
  <!-- ================================================================== Footer/ -->
  <footer></footer>
  <!-- ================================================================== /Footer -->
  <script src="../static/js/landings/landing1/init.js" defer></script>
  <script src="../static/js/lib/wow.min.js" defer></script>
  <script src="../static/js/landings/landing1/studiosites.js" defer></script>
</body>
</html>
