// Presentation =============================================

.about { // main section
    @include background-gradient();

    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    overflow: hidden;
    box-shadow: 2px 2px 3px $shadow-color;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: bottom left;

    @media screen and (max-width: $medium-screen-max) {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    h2 { // hidden title
        display: none;
    }

    .about-cvs,
    .about-txt { // section blocks
        width: 50%;
        height: 100%;

        @media screen and (max-width: $medium-screen-max) {
            width: 100%;
        }
    }

    .about-cvs { // presentation image
        position: relative;
        overflow: hidden;

        @media screen and (max-width: $medium-screen-max) {
            display: none;
        }

        .cvs-wrapper {
            @include background-gradient();

            position: absolute;
            top: 10%;
            left: 10%;
            width: 300px;
            height: 300px;
            overflow: hidden;
            background-color: $canvas-background;
            box-shadow: 2px 2px 3px $shadow-color;
            // -webkit-transform: translate(-50%, -50%);
            // -moz-transform: translate(-50%, -50%);
            // -ms-transform: translate(-50%, -50%);
            // -o-transform: translate(-50%, -50%);
            // transform: translate(-50%, -50%);

            .cvs-container {
                position: absolute;
                inline-size: inherit;
                block-size: inherit;
                background-color: transparent;

                [data-type] {
                    @include font-canvas();

                    position: absolute;
                    padding: 0;
                    margin: 0;
                    font-style: italic;
                    line-height: 1;
                    color: $text-dark-color;
                    text-align: center;
                    letter-spacing: 1px;
                }

                [data-type="fnd"] {
                    top: 0;
                    left: 0;
                    font-size: 50px;
                    text-transform: capitalize;
                }

                [data-type="html"] {
                    top: 0;
                    right: 0;
                    font-size: 40px;
                    text-transform: uppercase;
                    writing-mode: vertical-lr;
                }

                [data-type="css"] {
                    top: 50px;
                    right: 40px;
                    font-size: 40px;
                    text-transform: uppercase;
                    writing-mode: vertical-lr;
                }

                [data-type="js"] {
                    top: 50px;
                    left: 0;
                    font-size: 36px;
                    text-transform: capitalize;
                }

                [data-type="jq"] {
                    top: 96px;
                    left: 0;
                    font-size: 30px;
                    text-transform: capitalize;
                }

                [data-type="sass"] {
                    top: 96px;
                    left: 120px;
                    font-size: 30px;
                    text-transform: uppercase;
                }

                [data-type="bts"] {
                    top: 130px;
                    right: 0;
                    font-size: 44px;
                    text-transform: capitalize;
                }

                [data-type="fdt"] {
                    top: 180px;
                    right: 0;
                    font-size: 44px;
                    text-transform: capitalize;
                }

                [data-type="svg"] {
                    bottom: 134px;
                    left: 0;
                    font-size: 30px;
                    text-transform: uppercase;
                }

                [data-type="cvs"] {
                    bottom: 40px;
                    left: 0;
                    font-size: 30px;
                    text-transform: capitalize;
                }

                [data-type="and"] {
                    right: 0;
                    bottom: 44px;
                    font-size: 30px;
                    color: $text-light-color;
                    background-color: $text-dark-background;
                }

                [data-type="anm"] {
                    right: 0;
                    bottom: 0;
                    font-size: 44px;
                    text-transform: capitalize;
                }
            }
        }
    }

    .about-txt { // presentation text
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        article {
            width: 100%;
            background-color: $article-background;
        }

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

// free
.blur-background {
    -webkit-filter: blur($about-blur);
    filter: blur($about-blur);
}

// Presentation =============================================
