// Navbar ===================================================

.menu-nav {
    position: fixed;
    bottom: 100px;
    left: 30px;
    z-index: 99;
    display: flex;
    width: 100%;
    height: 10%;
    visibility: hidden;
    -webkit-transition: visibility 0s 1s;
    -moz-transition: visibility 0s 1s;
    -ms-transition: visibility 0s 1s;
    -o-transition: visibility 0s 1s;
    transition: visibility 0s 1s;

    img {
        width: auto;
        height: 100%;
    }
}

// Navbar ===================================================
