// Navbar ===================================================

.menu-nav {
    position: fixed;
    bottom: 100px;
    z-index: 99;
    display: flex;
    width: 0;
    height: 10%;
    // visibility: hidden;
    -webkit-transition: visibility 0s 1s;
    -moz-transition: visibility 0s 1s;
    -ms-transition: visibility 0s 1s;
    -o-transition: visibility 0s 1s;
    transition: visibility 0s 1s;

    @media screen and (min-width: $large-screen-min) {
        left: 30px;
    }

    @media screen and (max-width: $large-screen-max) {
        right: 160px;
    }
}

// Navbar ===================================================
