// // Title =================================================

.title {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $title-color;
    box-shadow: 2px 2px 3px $shadow-color;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

// // Title =================================================

// Particles ================================================

#particles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

// Particles ================================================

// Title text ===============================================

.title-text {
    @include title-font();

    z-index: 3;
    display: flex;
    padding: 0;
    list-style: none;

    li {
        font-size: 6rem;
        font-weight: normal;
        line-height: 1.1;
        color: $color-white;
        text-align: center;

        @media screen and (max-width: $small-screen-max) {
            font-size: 3rem;
        }

        span {
            position: relative;
            display: inline-block;
            perspective: 500px;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            transform-style: preserve-3d;

            &::before,
            &::after {
                position: absolute;
                top: 0;
                left: -1px;
                display: block;
                content: attr(data-content);
                -webkit-transition: all ease-out .3s;
                -moz-transition: all ease-out .3s;
                -ms-transition: all ease-out .3s;
                -o-transition: all ease-out .3s;
                transition: all ease-out .3s;
                -webkit-transform-origin: left top;
                -moz-transform-origin: left top;
                -ms-transform-origin: left top;
                -o-transform-origin: left top;
                transform-origin: left top;
            }

            &::before {
                z-index: 1;
                color: $title-text-shadow;
                -webkit-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
                -moz-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
                -ms-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
                -o-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
                transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
            }

            &::after {
                z-index: 2;
                color: $title-cut-text;
                text-shadow: -1px 0 1px $title-color, 1px 0 1px $title-outline;
                -webkit-transform: rotateY($title-skew);
                -moz-transform: rotateY($title-skew);
                -ms-transform: rotateY($title-skew);
                -o-transform: rotateY($title-skew);
                transform: rotateY($title-skew);
            }

            &:hover {
                &::before {
                    -webkit-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
                    -moz-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
                    -ms-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
                    -o-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
                    transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
                }

                &::after {
                    -webkit-transform: rotateY($title-skew-hover);
                    -moz-transform: rotateY($title-skew-hover);
                    -ms-transform: rotateY($title-skew-hover);
                    -o-transform: rotateY($title-skew-hover);
                    transform: rotateY($title-skew-hover);
                }
            }
        }

        [data-content="w"]::before {
            -webkit-animation: clap-before $ttl-txt-animation_1-duration ease-out $ttl-txt-animation_1-delay 3 normal none;
            animation: clap-before $ttl-txt-animation_1-duration ease-out $ttl-txt-animation_1-delay 3 normal none;
        }

        [data-content="w"]::after {
            -webkit-animation: clap-after $ttl-txt-animation_1-duration ease-out $ttl-txt-animation_1-delay 3 normal none;
            animation: clap-after $ttl-txt-animation_1-duration ease-out $ttl-txt-animation_1-delay 3 normal none;
        }

        [data-content="3"]::before {
            -webkit-animation: clap-before $ttl-txt-animation_2-duration ease-in $ttl-txt-animation_2-delay 3 normal none;
            animation: clap-before $ttl-txt-animation_2-duration ease-in $ttl-txt-animation_2-delay 3 normal none;
        }

        [data-content="3"]::after {
            -webkit-animation: clap-after $ttl-txt-animation_2-duration ease-in $ttl-txt-animation_2-delay 3 normal none;
            animation: clap-after $ttl-txt-animation_2-duration ease-in $ttl-txt-animation_2-delay 3 normal none;
        }

        [data-content="l"]::before {
            -webkit-animation: clap-before $ttl-txt-animation_3-duration ease-in $ttl-txt-animation_3-delay 3 normal none;
            animation: clap-before $ttl-txt-animation_3-duration ease-in $ttl-txt-animation_3-delay 3 normal none;
        }

        [data-content="l"]::after {
            -webkit-animation: clap-after $ttl-txt-animation_3-duration ease-in $ttl-txt-animation_3-delay 3 normal none;
            animation: clap-after $ttl-txt-animation_3-duration ease-in $ttl-txt-animation_3-delay 3 normal none;
        }

        [data-content="a"]::before {
            -webkit-animation: clap-before $ttl-txt-animation_4-duration ease-in $ttl-txt-animation_4-delay 3 normal none;
            animation: clap-before $ttl-txt-animation_4-duration ease-in $ttl-txt-animation_4-delay 3 normal none;
        }

        [data-content="a"]::after {
            -webkit-animation: clap-after $ttl-txt-animation_4-duration ease-in $ttl-txt-animation_4-delay 3 normal none;
            animation: clap-after $ttl-txt-animation_4-duration ease-in $ttl-txt-animation_4-delay 3 normal none;
        }

        [data-content="n"]::before {
            -webkit-animation: clap-before $ttl-txt-animation_5-duration ease-in $ttl-txt-animation_5-delay 3 normal none;
            animation: clap-before $ttl-txt-animation_5-duration ease-in $ttl-txt-animation_5-delay 3 normal none;
        }

        [data-content="n"]::after {
            -webkit-animation: clap-after $ttl-txt-animation_5-duration ease-in $ttl-txt-animation_5-delay 3 normal none;
            animation: clap-after $ttl-txt-animation_5-duration ease-in $ttl-txt-animation_5-delay 3 normal none;
        }

        [data-content="s"]::before {
            -webkit-animation: clap-before $ttl-txt-animation_6-duration ease-in $ttl-txt-animation_6-delay 3 normal none;
            animation: clap-before $ttl-txt-animation_6-duration ease-in $ttl-txt-animation_6-delay 3 normal none;
        }

        [data-content="s"]::after {
            -webkit-animation: clap-after $ttl-txt-animation_6-duration ease-in $ttl-txt-animation_6-delay 3 normal none;
            animation: clap-after $ttl-txt-animation_6-duration ease-in $ttl-txt-animation_6-delay 3 normal none;
        }

        [data-content="e"]::before {
            -webkit-animation: clap-before $ttl-txt-animation_7-duration ease-in $ttl-txt-animation_7-delay 3 normal none;
            animation: clap-before $ttl-txt-animation_7-duration ease-in $ttl-txt-animation_7-delay 3 normal none;
        }

        [data-content="e"]::after {
            -webkit-animation: clap-after $ttl-txt-animation_7-duration ease-in $ttl-txt-animation_7-delay 3 normal none;
            animation: clap-after $ttl-txt-animation_7-duration ease-in $ttl-txt-animation_7-delay 3 normal none;
        }

        [data-content="r"]::before {
            -webkit-animation: clap-before $ttl-txt-animation_8-duration ease-in $ttl-txt-animation_8-delay 3 normal none;
            animation: clap-before $ttl-txt-animation_8-duration ease-in $ttl-txt-animation_8-delay 3 normal none;
        }

        [data-content="r"]::after {
            -webkit-animation: clap-after $ttl-txt-animation_8-duration ease-in $ttl-txt-animation_8-delay 3 normal none;
            animation: clap-after $ttl-txt-animation_8-duration ease-in $ttl-txt-animation_8-delay 3 normal none;
        }
    }
}

@-webkit-keyframes clap-before {
    0% {
        -webkit-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        -moz-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        -ms-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        -o-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
    }

    50% {
        -webkit-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
        -moz-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
        -ms-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
        -o-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
        transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
    }

    100% {
        -webkit-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        -moz-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        -ms-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        -o-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
    }
}

@-webkit-keyframes clap-after {
    0% {
        -webkit-transform: rotateY($title-skew);
        -moz-transform: rotateY($title-skew);
        -ms-transform: rotateY($title-skew);
        -o-transform: rotateY($title-skew);
        transform: rotateY($title-skew);
    }

    50% {
        -webkit-transform: rotateY($title-skew-hover);
        -moz-transform: rotateY($title-skew-hover);
        -ms-transform: rotateY($title-skew-hover);
        -o-transform: rotateY($title-skew-hover);
        transform: rotateY($title-skew-hover);
    }

    100% {
        -webkit-transform: rotateY($title-skew);
        -moz-transform: rotateY($title-skew);
        -ms-transform: rotateY($title-skew);
        -o-transform: rotateY($title-skew);
        transform: rotateY($title-skew);
    }
}

@keyframes clap-before {
    0% {
        -webkit-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        -moz-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        -ms-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        -o-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
    }

    50% {
        -webkit-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
        -moz-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
        -ms-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
        -o-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
        transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew-hover);
    }

    100% {
        -webkit-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        -moz-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        -ms-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        -o-transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
        transform: scale($title-shadow-scale, 1) skew(0deg, $title-shadow-skew);
    }
}

@keyframes clap-after {
    0% {
        -webkit-transform: rotateY($title-skew);
        -moz-transform: rotateY($title-skew);
        -ms-transform: rotateY($title-skew);
        -o-transform: rotateY($title-skew);
        transform: rotateY($title-skew);
    }

    50% {
        -webkit-transform: rotateY($title-skew-hover);
        -moz-transform: rotateY($title-skew-hover);
        -ms-transform: rotateY($title-skew-hover);
        -o-transform: rotateY($title-skew-hover);
        transform: rotateY($title-skew-hover);
    }

    100% {
        -webkit-transform: rotateY($title-skew);
        -moz-transform: rotateY($title-skew);
        -ms-transform: rotateY($title-skew);
        -o-transform: rotateY($title-skew);
        transform: rotateY($title-skew);
    }
}

// Title text ===============================================

// Button ===================================================

.open-btn {
    position: absolute;
    bottom: 8px;
    z-index: 4;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    opacity: .6;
    -webkit-transition: visibility .5s .5s;
    -moz-transition: visibility .5s .5s;
    -ms-transition: visibility .5s .5s;
    -o-transition: visibility .5s .5s;
    transition: visibility .5s .5s scale .3s;

    &:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}

// Button ===================================================
